.anchorNavBar {
  text-decoration: none;
  color: #A20BAE;
  font-weight: 600;
}

.anchorNavBar:hover {
  color: violet;
  border-bottom: 0.2rem solid #A20BAE;
  ;
}

.botonCartWidget {
  margin-left: 1.5rem;
}

.botonCartWidget:visited {
  color: #3432D7;
}

.nav {
  height: 20%;
  width: auto;
}

.titulo {
  margin-bottom: 2.5rem;
}

.titulo-detalle {
  text-align: center;
  margin: 3.5rem 0 2.5rem 0;
}

.main {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.section-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 25rem;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #CCC;
}

.card-imagen {
  width: auto;
  height: 7rem;
  object-fit: cover;
}

.card-titulo {
  padding: 0.5rem 0;
  height: 3rem;
}

.card-descripcion {
  padding: 0.5rem 0;
  height: 10rem;
  overflow: auto;
}

.card-precio {
  padding: 0.5rem 0;
}

.card-boton {
  padding-top: 0.5rem;
  background-color: #A20BAE;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.card-boton:hover {
  background-color: #4d0252;
}
