.anchorNavBar{
    text-decoration: none;
    color: #A20BAE;
    font-weight: 600;
}
.anchorNavBar:hover{
    color: violet;
    border-bottom: 0.2rem solid #A20BAE;;
}
.botonCartWidget{
    margin-left: 1.5rem;
}
.botonCartWidget:visited{
  color: #3432D7;
}
.body{
    height: 100vh;
}
.nav{
    height: 20%;
}
.main{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}