.anchorNavBar {
  text-decoration: none;
  color: #A20BAE;
  font-weight: 600;
}

.anchorNavBar:hover {
  color: violet;
  border-bottom: 0.2rem solid #A20BAE;
  ;
}

.botonCartWidget {
  margin-left: 1.5rem;
}

.botonCartWidget:visited {
  color: #3432D7;
}

.nav {
  height: 20%;
  width: auto;
}

.titulo-detalle {
  text-align: center;
  margin: 3.5rem 0 2.2rem 0;
  font-family: sans-serif;
  color: #0000EE;
  text-shadow: 1px 1px 0px rgb(156, 252, 247), 1px 1px 0px rgb(156, 252, 247);
}

.main {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.section-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width: 25rem;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #CCC;
}
.card-count {
  width: 25rem;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-self: flex-start;
  border: 0.1rem solid #CCC;
  text-align: center;
}
.card-imagen {
  width: auto;
  height: 7rem;
  object-fit: cover;
}
.card-titulo {
  padding: 0.5rem 0;
  height: 3rem;
}
.card-descripcion {
  padding: 0.5rem 0;
  height: 10rem;
  overflow: auto;
}
.card-precio {
  padding: 0.5rem 0;
}
.card-boton {
  padding-top: 0.5rem;
  background-color: #A20BAE;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 1rem;
}
.card-boton-continuar {
  padding-top: 0.5rem;
  background-color: #2f25af;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 1rem;
}
.btn {
  padding-top: 0.5rem;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.btn-primary {
  background-color: #227cb8;
  margin-top: 1rem;
}
.btn-primary:hover {
  background-color: #044b7a;
}
.btn-danger {
  background-color: #c73a3a;
  margin-top: 1rem;
}
.btn-danger:hover {
  background-color: red;
}
.btn-secondary {
  background-color: #2f25af;
  margin: 1rem 0 2rem 0;
}
.btn-secondary:hover {
  background-color: #1b10ac;
}
.card-boton:hover {
  background-color: #4d0252;
}
.card-boton-continuar:hover {
  background-color: #1b10ac;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cart-cantidad {
  position: absolute;
  font-weight: bold;
  text-align: center;
  color: #A20BAE;
  right: 2rem;
  top: -1.5rem;
}
.cart-total {
  text-align: center;
}
.cart-total-negrita {
  font-weight: bold;
}
.cart-totalVaciar {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.cart-item-delete {
  border: none;
  cursor: pointer;
}

.table {
  text-align: center;
  width: 100%;
  margin: 0.8rem 0;
}
.table-titulo {
  font-weight: bold;
  background-color: #9ed4f8;
  padding: 1rem 0;
  font-size: 1rem;
}
.table-info {
  background-color: rgb(243, 243, 243);
  padding: 1rem 0;
  font-size: 0.8rem;
}
